# 5 April class 34

mysql -u root -p 

to setup enivronment variable
- step 1 start -env edit the system environment variable
- step-2 environment variable
- step-3 path in system variables...
- step-4 edit path
search path where sql is installed
copy it 
click new at system variable path edit
paste it
apply

in cmd type mysql -u root -p  to use sql in cmd
-u user
-p password


mysql> show databases;

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

4 rows in set (0.00 sec)

mysql> create database nit;

Query OK, 1 row affected (0.03 sec)

mysql> show databases;

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| nit                |
| performance_schema |
| sys                |
+--------------------+

5 rows in set (0.00 sec)

mysql> system cls

mysql> show databases;

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| nit                |
| performance_schema |
| sys                |
+--------------------+

5 rows in set (0.00 sec)

mysql> use nit

Database changed

mysql> create table student(

    -> name varchar(30),
    
    -> id int not null primary key,
    
    -> address varchar(50),
    
    -> marks int);

Query OK, 0 rows affected (0.07 sec)

mysql>